---
title: What Are Progressions
description: Changing the difficulty of calisthenics exercises is hard. When using weights, you can just adjust how heavy the dumbells/barbells are, but with calisthenics, you have to build up through variations of the exercise, also known as "progressions", in order to increase the difficulty.
---
